<div class="panel panel-default">
    <div class="panel-heading">Rule: {{rule.description}}</div>
    <div class="panel-body">
        <div class="col-md-12 tree-group">
            <div class="row">
                <div class="form-horizontal col-md-12">
                    <label>Effect:</label> {{rule.effect}}
                </div>
            </div>
            {{#if rule.target }}
                <div class="row">
                    <div class="col-md-12">
                        {{xacml-target-view target=rule.target parent=rule}}
                    </div>
                </div>
            {{/if}}
            {{#if rule.condition}}
                <div class="row">
                    <div class="col-md-12">
                        {{xacml-condition-view condition=rule.condition parent=rule}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>