{{input value=model.attributeId placeholder="Атрибут"}}&nbsp;=&nbsp;{{input value=model.attributeValue placeholder="Значение"}}
<button class="button glyphicon glyphicon-minus" {{action "removeMatch" targetAllOf model}}>Удалить</button>