<div class="row">
    <div class="col-md-12">
        <button class="button btn btn-default btn-xs glyphicon glyphicon-minus" {{action "removeTargetAnyOf" target model}}></button>
        <ul class="list-tree">
            <li>
                {{#each model.targetAllOf as |targetAllOf|}}
                    {{xacml-target-all-of model=targetAllOf parent=model}}
                {{/each}}
            </li>
        </ul>
    </div>
</div>