<button class="button glyphicon glyphicon-plus" {{action "addTargetMatch" model}}>Добавить</button>
<ul>
{{#each model.matches as |match|}}
    <li>
        {{xacml-match model=match targetAllOf=model}}
    </li>
{{/each}}
</ul>