<div class="row">
    <div class="col-md-12">
        <span>AND</span>
        <ul class="list-tree">
            <li>
                {{#each model.targetAllOf as |targetAllOf|}}
                    {{xacml-target-all-of-view model=targetAllOf}}
                {{/each}}
            </li>
        </ul>
    </div>
</div>