<ul>
    <li>OR &nbsp;
        <button class="button glyphicon glyphicon-plus">Добавить</button>
        {{#each target.targetAnyOf as |targetAnyOf|}}
            {{xacml-target-any-of model=targetAnyOf}}
        {{/each}}
    </li>
</ul>

