<ul>
    <li>AND&nbsp;
        <button class="button glyphicon glyphicon-minus" {{action "removeTargetAnyOf" target model}}>Удалить</button>
        {{#each model.targetAllOf as |targetAllOf|}}
            {{xacml-target-all-of model=targetAllOf}}
        {{/each}}
    </li>
</ul>
