<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Rule</div>
        <div class="panel-body">
            <div class="form-horizontal col-md-12">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="{{rule.isPermit}}"> Permited
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">Descrition</label>
                    <div class="col-sm-11">
                        {{input value=rule.description class="form-control" placeholder="Description"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{xacml-target target=rule.target}}
                </div>
            </div>
        </div>
    </div>
</div>
