<div class="col-md-12">
    <h2>New policy set</h2>
    <div class="row form-group">
        <div class="col-md-12">
            {{xacml-policy-set policySet=model}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" {{action "commit" model}}>Save</button>&nbsp;
            <a href="#" {{action "rollback" model}}>Return</a>
        </div>
    </div>
</div>