<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to 'index' class="navbar-brand" }}Xacmp PAP{{/link-to}}
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {{bind-attr class="view.rulesLink.active:active"}}>{{#link-to "rules" viewName="rulesLink"}}Rules{{/link-to}}</li>
                    <li {{bind-attr class="view.policiesLink.active:active"}}>{{#link-to "policies" viewName="policiesLink"}}Policies{{/link-to}}</li>
                    <li {{bind-attr class="view.policysetsLink.active:active"}}>{{#link-to "policysets" viewName="policysetsLink"}}Policy sets{{/link-to}}</li>
                </ul>
            </div>
        </div>
    </nav>

    {{outlet}}
</div>